.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.bottom{
    order: 3;
}
.left{
    position: absolute;
    left: 0;
    top: 30vh;
}

.right{
    position: absolute;
    right: 0;
    top: 30vh;
}
